
.disable-div {
	pointer-events: none;
}
.body-wrap{
	width: 250px;
	text-align:center;
}

.active{
	background-color: blue !important;
}
#status{
	border:1px solid;
}

#p1name, #p2name{
	text-align:center;
	border:1px solid;
	background-color:yellow;
}

.cellrow{
	display:flex;	
}
.cell{
	border:1px solid;
	font-size:3em;
	width:75px;
	height:75px;
	display:flex;
	justify-content: center;
	align-items:center;
}
